[submodule "NewRL/YK"]
	path = NewRL/YK
	url = git@github.com:NewRL/YK.git
	branch = master

[submodule "logistic"]
	path = logistic
	url = git@github.com:RLJO/logistic.git
	branch = master

[submodule "log2"]
	path = log2
	url = git@github.com:RLCO/log2.git
	branch = master

[submodule "shipping"]
	path = shipping
	url = git@github.com:RLCO/Multti-RL.git
	branch = Shipping
